body {
  background-color: #E8E8E8   ;
  font-family: Trebuchet MS, sans-serif;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.control-panel {
  background-color:white;
  padding: 4px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 95%;
  box-shadow: 0 20px 36px rgba(0, 0, 0, 0.1);

  
}

.map-container {
  background-color: #E8E8E8;
  border-color: #5DADE2  ;
  width: 85%;
  box-shadow: 0 20px 36px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

.service-image {
  width: 100%; /* ajustado para um percentual mais apropriado */
  max-width: 100px; /* define um tamanho máximo */
  height: auto; /* mantém a proporção da imagem */
  margin: 0; /* remove margens da imagem */
}

/* Estilos para os nomes das abas */
.nav-tabs > li > a {
  color: #ffffff; /* Cor do texto */
  font-size: 18px; /* Tamanho do texto */
  text-align: center; /* Centralizar o texto */
  background-color: #85C1E9  ; /* Cor de fundo */
  margin-bottom: 10px; /* Margem inferior */
  margin-top: 10px; /* Margem inferior */
  border-radius: 10px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
  background-color: #85C1E9 ; /* Cor de fundo quando passar o mouse */
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #ffffff; /* Cor do texto da aba ativa */
  background-color: #1B4F72  ; /* Cor de fundo da aba ativa */
  border: none; /* Remove a borda da aba ativa */
}

.nav-tabs {
  justify-content: center; /* Centralizar as abas */
  display: flex; /* Usar flexbox para o alinhamento */
}